<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputLabel value="Something went wrong"/>

    <PRE>
        status: #{errorInfo.status}
        timestamp: #{errorInfo.timestamp}
        error: #{errorInfo.error}
        message: #{errorInfo.message}
        path: #{errorInfo.path}

    </PRE>
</f:view>
</html>
